<head>
    <script>
        function goto() {
            var droneId = document.getElementById("droneid").value*1;
            var ip = "";
            if (droneId < 155) {
                ip= "192.168.0." + (100 + droneId);
            } else if (droneId < 155 + 255) {
                ip = "192.168.1." + (droneId - 155 + 2); // Start at 192.168.1.2
            }
            location.href = "http://admin:9am4pDLXjnT2P8vP@"+ip;
            return false;
        }
    </script>
</head>
<body onload="document.getElementById('droneid').focus();">
    <form onsubmit='goto();return false;'>
    Drone <input type='text' id='droneid'><input type='submit' value='Go' >
    </form>
</body>
